#numerito {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 150px;
  font-size: 5rem;
  font-family: 'Courier New', monospace;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
}
.pantalla{
  border-radius: 30%;
  background-color: #440c0c;
  height: 200px;
  border-color: aliceblue;
  width: 800px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.cloky{
  border-radius: 30%;
  background-color: #1a1a1a;
  height: 300px;
  border-color: aliceblue;
  width: 900px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}